// @import "~react_custom_table/src/styles/index.scss";

// .ReactTable .rt-table{
//     max-height: 60vh !important;
// } 

// .ct-header {
//     background-color: #E3E3E3 !important;
//     color:#000000 !important;
//     text-align: left;
//     font-family: "Rubik";
//     font-size: 15px !important;
//     font-weight:normal normal medium !important;
// }
// .ct-cell{
//     color: #000000DE !important;
//     font-size: 15px !important;
//     text-align: left !important;
//     font-family: "Rubik";
// }
// .rthfc.-striped .rt-tr.-odd .rt-td{
//     background-color: #FFFFFF !important;
// }
// .rthfc, .rthfc .rt-td {
//     background-color: #FFFFFF !important;
// }
// .ct-table-search {
// max-width: 20%;
// height: 40px !important; 
// background: #F1F1F1 0% 0% no-repeat padding-box !important;
// border-radius: 4px !important;
// opacity: 1 !important;
// border: none !important;
// }
// .ct-table-search input{
//     background-color: #F1F1F1 !important;
//     color: #0000008A !important;
//     margin-left: 1rem !important;
//     font-size: 16px !important;
//     font-family: 'Open Sans' !important;
//     max-width: 80%;
// }
// .ct-button{
// min-width: 132px;
// min-height: 42px;
// background: #4EA747 0% 0% no-repeat padding-box;
// border-radius: 4px;
// opacity: 1;
// color: #FFFFFF;
// font-size: 14px;
// padding:0 20px;
// text-align: center;
// justify-content: center;
// }
// .ct-title{
//     color: #212121 !important;
//     font-size: 18px !important;
//     font-family: "Rubik" !important;
//     font-weight: 600 !important;
// }
// .rt-rd{
//     padding-top: 50px !important;
// }
// .a{
//     background-color: greenyellow !important;
// }